@using static ProjectFollower.Utility.ProjectConstant.WebRootPaths;
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var customerpath = DIR_Customer_Main + Model.Email + "/img/" + Model.ImageUrl;
}
@model ProjectFollower.Models.ViewModels.CustomerVM
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="mb-2">
                    <h1 contenteditable="true">@Model.Name</h1>
                    <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                        <ol class="breadcrumb pt-0">
                            <li class="breadcrumb-item">
                                <a asp-controller="Customers" asp-action="Index">Firmalar</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <a>@Model.Name</a>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="separator mb-5"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12 col-xl-8 col-left">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs " role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab"
                                   aria-controls="first" aria-selected="true">Firma Detayı</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="second-tab" data-toggle="tab" href="#second" role="tab"
                                   aria-controls="second" aria-selected="false">Dosyalar(@Model.Documents.Count())</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="first" role="tabpanel"
                                 aria-labelledby="first-tab">

                                <p class="font-weight-bold">Firma Açıklaması</p>
                                @Html.Raw(Model.Description)
                                <br />

                            </div>
                            <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">
                                @{ if (Model.Documents.Count() > 0)
                                    {
                                        foreach (var item in Model.Documents)
                                        {
                                            <div class="d-flex flex-row mb-3 border-bottom">
                                                <div class="p-0 position-relative tab-icon">
                                                    <div class="preview-container">
                                                        <img data-dz-thumbnail="" class="img-thumbnail border-0">
                                                        <i class="simple-icon-doc preview-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="pl-3 w-80 dz-details position-relative">
                                                    <div>
                                                        <span data-dz-name="">@item.FileName</span>
                                                    </div>
                                                    <div class="text-primary text-extra-small" data-dz-size="">
                                                        <strong>0</strong> KB
                                                    </div>
                                                </div>
                                                <a href="#/" class="download-icon" data-dz-remove="">
                                                    <i class="glyph-icon simple-icon-cloud-download"></i>
                                                </a>
                                            </div>
                                        }
                                    }


                                }
                                <div class="separator mb-5"></div>
                                
                                    <div class="d-flex flex-row mb-3">
                                        <div class="col-12">
                                            <div class="input-group mb-3 file-avatar">
                                                <label class="custom-select custom-select-label file-new-uploads-text" for="file-upload" style="height:auto; line-height:inherit;"></label>
                                                <input type="file" class="d-none file-new-uploads" name="file-upload" id="file-upload" multiple>
                                                <div class="input-group-append">
                                                    <label class="input-group-text" for="file-upload" value="Fotoğraf Yükle">Dosya Yükle</label>
                                                </div>
                                            </div>
                                            <div class="text-zero top-right-button-container">
                                                <a href="/new-user"><button type="button" class="btn btn-primary top-right-button mr-1">YENİ DOSYA EKLE</button></a>
                                            </div>
                                        </div>
                                    </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-xl-4 col-right">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8 p-0 m-0 d-flex justify-content-center align-items-center">
                                <h1 class="p-0 m-0">@Model.Name</h1>
                            </div>
                            <div class="col-4">
                                <img src="@customerpath" alt="Fat Rascal" class="list-thumbnail responsive border-0 card-img-left ml-2" />
                            </div>
                            <div class="col-6 mt-2">
                                <p class="font-weight-bold">Firma Yetkilisi</p>
                                <p>@Model.AuthorizedName</p>
                            </div>
                            <div class="col-6 mt-2">
                                <p class="font-weight-bold">Firma E-posta</p>
                                <p>@Model.Email</p>
                            </div>
                            <div class="col-6 mt-2">
                                <p class="font-weight-bold">Firma Telefon</p>
                                <p>@Model.Phone</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section scripts{

    <script src="~/js/scripts.js"></script>

}