
@{
}
@model ProjectFollower.Models.DbModels.Customers
<style>
    .dx-scheduler-work-space-both-scrollbar .dx-scheduler-date-table {
        float: none;
        background-position: center;
        background-repeat: no-repeat;
        background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url("/assets/customers/@Model.Id/img/@Model.ImageUrl");
    }
    .dx-scheduler-date-table-current-date .dx-scheduler-date-table-cell-text {
        font-weight: 900;
        font-size:large;
        text-decoration: underline;
        color:cornflowerblue;
    }
    .dx-scheduler-header {
        position: -webkit-sticky;
        position: sticky;
        top: 100px;
    }
    .acil {
        width: 15px;
        padding: 10px;
        margin: 5px;
        margin-left:27px;
        background-color: #D94A4A;
        border-radius:50px;
    }
    .normal {
        width: 15px;
        padding: 10px;
        margin: 5px;
        margin-left: 27px;
        background-color: #0476D9;
        border-radius: 50px;
    }
    .story {
        width: 15px;
        padding: 10px;
        margin: 5px;
        margin-left: 27px;
        background-color: #CF00AC;
        border-radius: 50px;
    }
    .hazirlik {
        width: 15px;
        padding: 10px;
        margin: 5px;
        margin-left: 27px;
        background-color: #F2D335;
        border-radius: 50px;
    }
    .tamamlandi {
        width: 15px;
        padding: 10px;
        margin: 5px;
        margin-left: 27px;
        background-color: #04BFAD;
        border-radius: 50px;
    }
    .box {
        top: 50%;
        left:50%;
        margin: 0;
        width: 75px;
    }
    .dx-textarea .dx-texteditor-input{
        min-height:15rem;
    }

</style>
<main>
    <div class="row">
        <div class="col-12">
            <div id="scheduler" Width="100%"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-right mt-3">
            <form id="export-frm" asp-action="DownloadPDF" asp-controller="Scheduler" method="post" target="_blank">
                <input id="htmlstring" type="text" name="htmlstring" value="" />
                <input id="customerId" type="text" name="customerId" value="" />
                <a id="export-btn" type="button" class="btn btn-primary btn-lg top-right-button mr-1" href="#">EXPORT PDF</a>
            </form>

        </div>
    </div>

</main>


@section scripts
{
    <script src="~/js/schedulerHub.js"></script>
    <script>


        const CustomerId = '@Model.Id';
        DevExpress.localization.locale(navigator.language);
        function showToast(event, value, type) {
            DevExpress.ui.notify(`${event} "${value}" `, type, 800);
        }
        $(document).ready(function () {
            //var customersObj = { text: "Model.Name", id: "Model.Id" };
            var customerNamePublic = "";
            $.ajax({
                type: "GET",
                url: "/getscheduler/" + '@Model.Id',
                contentType: "application/json",
                dataType: "json",
                success: function (data) {
                    const now = new Date();
                    var scheduler = data.scheduler;
                    var schedulerPriorityObj = data.schedulerPriority;
                    var customersObj = data.customers;
                    customerNamePublic = data.customers[0].text;
                    $(() => {
                        $('#scheduler').dxScheduler({
                            dataSource: scheduler,
                            type: 'date',
                            views: ['month'],
                            currentView: 'month',
                            currentDate: now,
                            showAllDayPanel: false,
                            maxAppointmentsPerCell: 5,
                            allDay: true,
                            FixedWidth: true,
                            crossScrollingEnabled: true,
                            cellDuration: 20,
                            startDayHour: 15,
                            editing: {
                                allowAdding: true,
                                allowDeleting: true,
                                allowUpdating: true,
                                allowResizing: true,
                                allowDragging: true,
                            },
                            onAppointmentAdded(e) {
                                const endDate = new Date(2099, 4, 10, 13, 0)
                                e.appointmentData.endDate = endDate;
                                $.ajax({
                                    type: "POST",
                                    url: "/postscheduler",
                                    data: JSON.stringify(e.appointmentData),
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    success: function (response) {
                                        showToast('Oluşturuldu', e.appointmentData.text, 'info');
                                        $.ajax({
                                            type: "GET",
                                            url: "/jsonresult/trigger_WebSocket/" + "@Model.Id",
                                            contentType: "application/json",
                                            dataType: "json",
                                            success: function (data) {
                                                console.log("Web Socket Requets Sended from scheduler. Id: " + '@Model.Id')
                                            }
                                        });
                                    },
                                    failure: function (response) {
                                        alert("Kayıt başarısız! - Failure response");
                                    },
                                    error: function (response) {
                                        alert("Kayıt başarısız! - Error response");
                                    }
                                });

                            },
                            onAppointmentUpdated(e) {
                                $.ajax({
                                    type: "POST",
                                    url: "/updatescheduler",
                                    data: JSON.stringify(e.appointmentData),
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    success: function (response) {
                                        showToast('Güncellendi', e.appointmentData.text, 'info');
                                            $.ajax({
                                            type: "GET",
                                            url: "/jsonresult/trigger_WebSocket/" + "@Model.Id",
                                            contentType: "application/json",
                                            dataType: "json",
                                            success: function (data) {
                                                console.log("Web Socket Requets Sended from scheduler. Id: " + '@Model.Id')
                                            }
                                        });
                                    },
                                    failure: function (response) {
                                        alert("Güncelleme başarısız! - Failure response");
                                    },
                                    error: function (response) {
                                        alert("Güncelleme başarısız! - Error response");
                                    }
                                });
                            },
                            onAppointmentDeleted(e) {
                                $.ajax({
                                    type: "GET",
                                    url: "/deletescheduler/" + JSON.stringify(e.appointmentData.id),
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    success: function (response) {
                                        showToast('Silindi', e.appointmentData.text, 'info');
                                        $.ajax({
                                            type: "GET",
                                            url: "/jsonresult/trigger_WebSocket/" + "@Model.Id",
                                            contentType: "application/json",
                                            dataType: "json",
                                            success: function (data) {
                                                console.log("Web Socket Requets Sended from scheduler. Id: " + '@Model.Id')
                                            }
                                        });
                                    },
                                    failure: function (response) {
                                        alert(response.responseText);
                                    },
                                    error: function (response) {
                                        alert(response.responseText);
                                    }
                                });
                            },

                            onAppointmentFormOpening(data) {
                                const { form } = data;
                                console.log(customersObj[0].id);
                                form.option('items', [{
                                    label: {
                                        text: 'Adı',
                                    },
                                    editorType: 'dxTextBox',
                                    dataField: 'text',
                                    editorOptions: {
                                        width: '100%',
                                        type: 'text',
                                    },
                                }, {
                                    label: {
                                        text: 'Firma',
                                    },
                                    editorType: 'dxSelectBox',
                                    dataField: 'customersId',
                                    editorOptions: {
                                        items: customersObj, placeholder: customersObj[0].text,
                                        displayExpr: 'text',
                                        valueExpr: 'id',
                                        value: customersObj[0].id,
                                        readOnly: true,
                                    },
                                }, {
                                    label: {
                                        text: 'Durum',
                                    },
                                    editorType: 'dxSelectBox',
                                    dataField: 'priorityId',
                                    editorOptions: {
                                        items: schedulerPriorityObj,
                                        displayExpr: 'text',
                                        valueExpr: 'id',
                                    },
                                }, {
                                    label: {
                                        text: 'Tarih',
                                    },
                                    dataField: 'startDate',
                                    editorType: 'dxDateBox',
                                    editorOptions: {
                                        width: '100%',
                                        type: 'date',
                                    },
                                }, {
                                    colSpan: 2,
                                    label: {
                                        text: 'Açıklama',
                                    },
                                    dataField: 'description',
                                    editorType: "dxTextArea",
                                    editorOptions: {
                                        width: '100%',
                                    },
                                },
                                ]);
                            },
                            resources: [
                                {
                                    fieldExpr: 'priorityId',
                                    dataSource: schedulerPriorityObj,
                                    label: 'Durum',
                                    useColorAsDefault: true,
                                }],
                            height: 900,
                        });
                    });



                }

            }).done(function (result) {
                $(document).ready(function () {
                    $(".dx-toolbar-items-container").append(`
<div class="dx-toolbar-after pr-2"><select class="form-control select-single mt-2" data-width="100%" name="Id" id="customer-scheduler-alt">
<option disabled selected>[ `+ customerNamePublic+` ]</option>
</select></div>

`);
                    $(".dx-toolbar-center").append(`
<div class="row">
<div class="box"><div class="acil"></div><p>Acil</p></div>
<div class="box"><div class="normal"></div><p>Normal</p></div>
<div class="box"><div class="story"></div><p>Story</p></div>
<div class="box"><div class="hazirlik"></div><p>Hazırlık</p></div>
<div class="box"><div class="tamamlandi"></div><p>Tamamlandı</p></div>
</div>
`)
                    $.ajax({
                        url: "/getCustomersforScheduler",
                        type: "GET",
                        contentType: "application/json",
                        dataType: "json",
                        success: function (data) {

                            $.each(data, function (i, item) {

                                $('#customer-scheduler-alt').append($('<option>', {
                                    value: item.id,
                                    text: item.name
                                }));
                            });
                        }
                    }).done(function (result) {
                        $('#customer-scheduler-alt').on('change', function () {
                            window.location.replace("/Scheduler?Id="+this.value);
                        });
                    });

                });
            });


            $("#export-btn").click(function () {
                $("#htmlstring").val($("#scheduler").html());
                $("#customerId").val('@Model.Id')
                $("#export-frm").submit();
            });
        });


    </script>
}





