@using static ProjectFollower.Utility.ProjectConstant.WebRootPaths;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Details";

    int TaskLength = 0;
    string TaskIdString = "";
    var customerpath = DIR_Users_Main;
    int playercount = 0;
}
@model ProjectFollower.Models.ViewModels.ProjectDetailVM
@using static ProjectFollower.Utility.ProjectConstant
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="mb-2">
                    <h1>@Model.Project.Name</h1>
                    <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                        <ol class="breadcrumb pt-0">
                            <li class="breadcrumb-item">
                                <a asp-action="Dashboard" asp-controller="Home">Projeler</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <a>@Model.Project.Name</a>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="separator mb-5"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12 col-xl-8 col-left">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs " role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab"
                                   aria-controls="first" aria-selected="true">Proje Görevleri</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="second-tab" data-toggle="tab" href="#second" role="tab"
                                   aria-controls="second" aria-selected="false">Dosyalar(@Model.ProjectDocuments.Count())</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="third-tab" data-toggle="tab" href="#third" role="tab"
                                   aria-controls="third" aria-selected="false">Proje Detay</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="first" role="tabpanel"
                                 aria-labelledby="first-tab">
                                <div class="row">
                                    <div class="col-6">
                                        <p class="font-weight-bold">Görevler</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="font-weight-bold" style="text-align:end">Görevliler</p>
                                    </div>
                                </div>


                                @*<form action="/proje-detaylari/gorev-degistir/@Model.Project.Id" method="get">*@
                                <form id="sectionTasks">
                                    @foreach (var item in Model.ProjectTasks)
                                    {
                                        playercount = 0;
                                        TaskLength++;
                                        TaskIdString = "control-mission" + TaskLength.ToString();

                                        <div class="row mb-4  d-flex align-items-center justify-content-end">
                                            <div class="col-6">
                                                @if (item.Done)
                                                {
                                                    <p class="mission-completed m-0">@item.Description</p>
                                                }
                                                else
                                                {
                                                    <p class="m-0">@item.Description</p>
                                                }

                                            </div>

                                            <div class="col-3 d-flex align-items-center justify-content-end">
                                                <p class="m-0">
                                                    @foreach (var playerItem in item.TaskPlayers)
                                                    {
                                                        if (item.TaskPlayers.Count() == playercount + 1)
                                                        {
                                                            <span>@playerItem.FirstName</span>
                                                        }
                                                        else
                                                        {
                                                            <span>@playerItem.FirstName</span>

                                                            <text>,</text>
                                                        }
                                                        playercount++;
                                                    }
                                                </p>


                                            </div>


                                            <div class="col-3 text-end d-flex justify-content-center align-items-center">
                                                <div class="custom-control custom-checkbox" style="display:inline-block">
                                                    @*<input value="@item.Done.ToString()" id="@item.Id" type="text" class="taskvalue" />*@

                                                    <input type="checkbox" class="custom-control-input taskvalue" id="@item.Id" name="[@TaskLength].RightsCode" value="@item.Done" checked="@item.Done">


                                                    @if (item.Done)
                                                    {
                                                        <label class="custom-control-label" for="@item.Id">Tamamlandı</label>
                                                    }
                                                    else
                                                    {
                                                        <label class="custom-control-label" for="@item.Id">Tamamlanmadı</label>
                                                    }

                                                </div>

                                                @*<a type="button" href="/proje-detaylari/gorev-kaldir/@item.Id" class="glyph-icon simple-icon-trash ml-4 remove-task" style="font-size: 16px; text-align: right;" id="@item.Id"></a>*@
                                                <a type="button" class="glyph-icon simple-icon-trash ml-4 remove-task" style="font-size: 16px; text-align: right;" id="@item.Id"></a>
                                            </div>
                                        </div>

                                    }
                                    <div class="row mb-4">
                                        <div class="col-12 text-right">
                                            <button type="button" data-toggle="modal" data-target="#add-mission" class="btn btn-secondary mb-0 mr-1">Görev Ekle</button>
                                            <button type="button" class="btn btn-primary btn-sm mb-0" id="taskbtn">Görevleri Düzenlemeyi Kaydet</button>
                                        </div>
                                    </div>
                                </form>
                                @*
                                    <table class="table table-borderless">
                                    <thead>
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Görev</th>
                                    <th scope="col">Durum</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var item in Model.ProjectTasks)
                                    {
                                    TaskLength++;
                                    TaskIdString = "control-mission" + TaskLength.ToString();
                                    }
                                    <tr>

                                    <th scope="row">1</th>
                                    <td>Emre</td>
                                    <td>Websitesi Tasarımı</td>
                                    </tr>
                                    <tr>
                                    <th scope="row">2</th>
                                    <td>Buğra</td>
                                    <td>Database</td>

                                    </tr>
                                    </tbody>
                                    </table>
                                *@

                                <div class="separator mb-5"></div>

                                <p class="font-weight-bold">Yorumlar</p>
                                <div class="scroll dashboard-list-with-user" id="comments">

                                    @if (Model.CommentVM.Count() > 0)
                                    {
                                        @foreach (var item in Model.CommentVM)
                                        {
                                            <div class="d-flex flex-row mb-3 border-bottom justify-content-between">
                                                <a href="#">
                                                    <img src="@item.Img" alt="@item.FullName"
                                                         class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                                                </a>
                                                <div class="pl-3 flex-grow-1">
                                                    <p class="font-weight-medium mb-0">@item.FullName</p>
                                                    <p class="text-muted mb-0 text-small">@item.CommentTime</p>
                                                    <p class="mt-3">
                                                        @item.Comment
                                                    </p>
                                                </div>
                                                @if (item.UserEmail == User.Identity.Name || User.IsInRole(UserRoles.Admin))
                                                {
                                                    <div class="dropleft">
                                                        <div class="glyph-icon simple-icon-options" type="button"
                                                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></div>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" style="cursor: default; color: #b2b2b2; " href="javascript:void(0)">Düzenle</a>
                                                            <form asp-controller="Home" asp-action="DeleteComment" method="post" asp-route-id="@item.Id">
                                                                @*<input hidden value="@item.Id" />*@
                                                                <button class="dropdown-item" type="submit">Sil</button>
                                                            </form>

                                                        </div>
                                                    </div>
                                                }

                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <h5>Henüz yorum yapılmamış..</h5>
                                    }
                                </div>

                                <div class="comment-contaiener">
                                    <div class="input-group" id="comment-section">
                                        <input type="text" class="form-control" placeholder="Yorum Ekle" id="comment-input">
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary" type="button" id="comment-button">
                                                <span class="d-inline-block">Paylaş</span> <i class="simple-icon-arrow-right ml-2"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">
                                @{
                                    if (Model.ProjectDocuments.Count() > 0)
                                    {
                                        foreach (var item in Model.ProjectDocuments)
                                        {
                                            string link = LocFilePaths.DIR_Projects_Doc + item.Projects.Id + "/" + item.FileName;
                                            <div class="d-flex flex-row mb-3 border-bottom">
                                                <div class="p-0 position-relative tab-icon">
                                                    <div class="preview-container">
                                                        <img data-dz-thumbnail="" class="img-thumbnail border-0">
                                                        <i class="simple-icon-doc preview-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="pl-3 w-90 dz-details position-relative">
                                                    <div>
                                                        <span data-dz-name="">@item.FileName</span>
                                                    </div>
                                                    <div class="text-primary text-extra-small" data-dz-size="">
                                                        <strong>0</strong> KB
                                                    </div>
                                                </div>
                                                <a href="@link" class="download-icon" data-dz-remove="" download>
                                                    <i class="glyph-icon simple-icon-cloud-download"></i>
                                                </a>
                                                @if (User.IsInRole(UserRoles.Admin))
                                                {

                                                    <a href="/proje-detaylari/dokuman-kaldir/@item.Id" class="download-icon ml-4" data-dz-remove="">
                                                        <i class="glyph-icon simple-icon-trash"></i>
                                                    </a>
                                                }
                                            </div>
                                        }

                                    }
                                    else
                                    {
                                        <h4>Henüz projeye ait bir dosya yüklenmemiş..</h4>
                                    }
                                }

                                <form asp-action="UpdateDocuments" asp-controller="Home" method="post" enctype="multipart/form-data" data-pasley-validate>
                                    <input type="text" asp-for="Project.Id" value="@Model.Project.Id" hidden />
                                    <div class="d-flex flex-row mb-3">
                                        <div class="col-12">
                                            <div class="input-group mb-3 file-avatar">
                                                <label class="custom-select custom-select-label file-new-uploads-text" for="file-upload" style="height:auto; line-height:inherit;"></label>
                                                <input type="file" class="d-none file-new-uploads" name="file-upload" id="file-upload" multiple>
                                                <div class="input-group-append">
                                                    <label class="input-group-text" for="file-upload" value="Fotoğraf Yükle">Dosya Yükle</label>
                                                </div>
                                            </div>
                                            <div class="text-zero top-right-button-container">
                                                <button type="submit" class="btn btn-primary top-right-button mr-1">Yeni Dosya Ekle</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <div class="tab-pane fade" id="third" role="tabpanel" aria-labelledby="third-tab">
                                <div class="row">
                                    <div class="col-8">
                                        <p class="font-weight-bold">Proje Açıklaması</p>
                                    </div>
                                    @if (User.IsInRole(UserRoles.Admin))
                                    {
                                        <div class="col-4 text-right">
                                            <button data-toggle="modal" data-target="#project-details" class="btn btn-primary btn-sm mb-0">Projeyi Düzenle</button>
                                        </div>
                                    }
                                </div><div id="desc">@Html.Raw(Model.Project.Description)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-xl-4 col-right">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8 p-0 m-0 d-flex justify-content-center align-items-center">
                                <h1 class="p-0 m-0">@Model.Project.Customers.Name</h1>
                            </div>
                            <div class="col-4">
                                <img src="/assets/customers/@Model.Project.Customers.Id/img/@Model.Project.Customers.ImageUrl" alt="@Model.Project.Customers.Name" class="list-thumbnail responsive border-0 card-img-left ml-2" />
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6 p-0 m-0 text-center">
                                <p class="text-muted text-small mb-2">Proje Statüsü</p>
                                <p class="mb-3">
                                    @if (Model.Project.Status == 0)
                                    {
                                        <span class="badge badge-pill badge-info mb-1">YENİ</span>
                                    }
                                    @if (Model.Project.Status == 1)
                                    {
                                        <span class="badge badge-pill badge-warning mb-1">YAPIM AŞAMASINDA</span>
                                    }
                                    @if (Model.Project.Status == 2)
                                    {
                                        <span class="badge badge-pill badge-secondary mb-1">MÜŞTERİ ONAYINDA</span>
                                    }
                                    @if (Model.Project.Status == 3)
                                    {
                                        <span class="badge badge-pill badge-primary mb-1">TAMAMLANDI</span>
                                    }
                                    @if (Model.Project.Status == 4)
                                    {
                                        <span class="badge badge-pill badge-primary" style="background-color: #008aff !important;"><i class="fas fa-archive"></i>&nbsp;&nbsp;ARŞİVLENMİŞ</span>
                                    }



                                    @*<span class="badge badge-pill badge-warning mb-1">YAPIM AŞAMASINDA</span>*@
                                </p>
                            </div>
                            <div class="col-3 p-0 m-0  text-center">
                                <p class="text-muted text-small mb-2">Proje Başlangıç</p>
                                <p class="mb-3">
                                    <span class="badge badge-pill badge-info mb-1">@Model.Project.CreationDate</span>
                                </p>
                            </div>
                            <div class="col-3 p-0 m-0  text-center">
                                <p class="text-muted text-small mb-2">Proje Deadline</p>
                                <p class="mb-3">
                                    <span class="badge badge-pill badge-danger mb-1">@Model.Project.EndingDate</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body text-center pt-5 pb-5">
                        @foreach (var item in Model.Users)
                        {
                            string img = item.ImageUrl;
                            <img alt="@item.FullName" class="img-thumbnail border-0 rounded-circle mb-4 list-thumbnail mx-auto" src="@img" title="@item.FullName">
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Modal Proje Detay Değiştir -->
<div class="modal fade" id="project-details" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="project-detailsLabel">@Model.Project.Customers.Name - @Model.Project.Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Proje Adı:</label>
                        <input id="projectname" type="text" class="form-control" id="recipient-name" value="@Model.Project.Name">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Açıklama:</label>
                        <div class="input-group">
                            <div id="quillEditor" style="min-height: 10rem; width: 100%">
                                <div class="ql-editor">@Html.Raw(Model.Project.Description)</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Proje Bitiş Tarihi:</label>
                        <input id="dateval" class="form-control datepicker" placeholder="" autocomplete="off" value="@Model.Project.EndingDate" required />
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Proje Üyeleri:</label>
                        <select class="form-control select2-multiple" multiple="multiple" data-width="100%" asp-for="UserId" id="userid" required>
                            @foreach (var item in Model.DepartmentsVMs)
                            {
                                <optgroup label="@item.Name">
                                    @foreach (var itemUser in item.Users)
                                    {
                                        if (itemUser.IsResponsible)
                                        {
                                            <option value="@itemUser.Id" selected>@itemUser.FirstName</option>
                                        }
                                        else
                                        {
                                            <option value="@itemUser.Id">@itemUser.FirstName</option>
                                        }
                                    }
                                </optgroup>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">
                        Kapat
                    </button>
                    <button type="button" class="btn btn-primary" id="submitDesc">Değişiklikleri Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="add-mission" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Görev Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="AddTask" asp-controller="Home" method="post" asp-route-ProjectsId="@Model.Project.Id">
                <div class="modal-body">
                    <div class="form-group">
                        @if (User.IsInRole(UserRoles.Admin))
                        {
                            <label class="form-group has-top-label gorev-players pb-1">
                                <select class="form-control select2-multiple" multiple="multiple" data-width="100%" id="mission-players" asp-for="UserId" required>
                                    <optgroup label="Görev Üyeleri">
                                        @foreach (var item in Model.Users)
                                        {

                                            <option value="@item.Id">@item.FirstName</option>

                                        }
                                    </optgroup>

                                </select>
                                <span>Görev Üyeleri</span>
                            </label>
                        }

                        <label for="mission-name" class="col-form-label">Görev Adı:</label>
                        <textarea style="height:5rem" type="text" class="form-control" id="mission-name" required min asp-for="ProjectTaskItem.Description"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">
                        Kapat
                    </button>
                    <button type="submit" class="btn btn-primary" id="addMission">Görev Ekle</button>
                </div>
            </form>
        </div>
    </div>
</div>
@*
    <form asp-action="UpdateDesc" asp-controller="Home" method="post" id="descDetail">
    <input type="text" id="htmlstr" class="form-control form-text" asp-for="@Model.Project.Description" />
    <input type="text" id="projectid" class="form-control form-text" asp-for="@Model.Project.Id" />
    </form>*@


@section scripts
{
    <script src="/js/vendor/quill.min.js"></script>

    <script>
            function test() {
                //alert("I am here");
            }

            $(document).ready(function () {

                $(document).on("click", "#submitDesc", function () {
                    console.log("submitdesc Action");

                    var htmlString = $('.ql-editor').html();
                    console.log("submitdesc Action 2");
                    $('#htmlstr').val(htmlString);
                    console.log("submitdesc Action 3");
                    //$('#descDetail').submit();
                    var userId = [];
                    userId = $('#userid').val();
                    console.log("UserId Arrays: "+userId);
                    $.ajax({
                        type: "POST",
                        url: "/jsonresult/updatedescription",
                        data: {
                            project: {
                                id: '@Model.Project.Id',
                                description: $('.ql-editor').html(),
                                EndingDate: $('#dateval').val(),
                                Name: $('#projectname').val()
                            },
                            userId: userId
                        },
                        success: function (received) {
                            console.log(received);
                            $('#desc').html("");
                            $('#desc').append(received);
                            $('#project-details').modal('toggle');

                            Swal.fire({
                                title: "Güncelleme başarılı.",
                                showCancelButton: false,
                                icon: "success",
                                confirmButtonText: 'Tamam',
                            })


                        }
                    });

                });
                $(document).on("click", "#taskbtn", function () {
                    var formdata = [];
                    $('.taskvalue:checkbox').each(function () {
                        var item = {};
                        //here the item name should be the same as your model
                        item['id'] = this.id,
                        item['done'] = $(this).is(':checked')
                        formdata.push(item);
                    });

                    //here the model should be the same as your controller parameter name
                    formdata = JSON.stringify(formdata);
                    console.log(formdata);
                    $.ajax({
                        //contentType: 'application/json; charset=utf-8',//this statement should be added
                        url: "/jsonresult/updateTasks",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json",
                        traditional: true,
                        /*
                        data: {
                            projectId: 'Model.Project.Id',
                            projectTasks: "",
                        },
                        */
                        data: formdata,
                        //dataType: "json",
                        success: function (received) {
                            Swal.fire({
                                title: "Güncelleme başarılı.",
                                showCancelButton: false,
                                icon: "success",
                                confirmButtonText: 'Tamam',
                            }).then((result) => {
                                location.reload();
                            });
                        }
                    });
                });
                $(document).on("click", "#comment-button", function () {
                    console.log($('#comment-input').val());
                    var comment = $('#comment-input').val();
                    $.ajax({
                        type: "POST",
                        //url: "/jsonresult/addcomment/" + '@Model.Project.Id' + "/" + comment,
                        url: "/jsonresult/addcomment/",
                        data: {
                            projectsId: '@Model.Project.Id',
                            comment: comment

                        },
                        success: function (received) {
                            if (received == null)
                                $("#comment-input").val("");
                            else {
                                console.log(received);
                                commenthtml = `

                                                <div class='d-flex flex-row mb-3 border-bottom justify-content-between'>
                                                    <a href='#'>
                                                        <img src='`+ received.img+`'
                                                             class='img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall' />
                                                    </a>
                                                    <div class='pl-3 flex-grow-1'>
                                                        <a href='#'>
                                                            <p class='font-weight-medium mb-0'>`+ received.fullName + `</p>
                                                            <p class='text-muted mb-0 text-small'>`+ received.commentTime + `</p>
                                                        </a>
                                                        <p class='mt-3'>
                                                            `+ received.comment + `
                                                        </p>
                                                    </div>
                                                </div>
    `;
                                $("#comments").append(commenthtml);
                                $("#commentnone").hide();

                                $("#comment-input").val("");
                            }




                        }
                    });
                });

                $(document).on("click", ".remove-task", function () {
                    Swal.fire({
                        title: 'Bu görevi kaldırmak istediğinizden emin misiniz?',
                        showCancelButton: true,
                        icon: 'info',
                        confirmButtonText: 'Kaldır',
                        cancelButtonText: `İptal Et`,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = '/proje-detaylari/gorev-kaldir/' + this.id;
                        }

                    })
                });
            });


                $('#comment-input').keydown(function (event) {
                    var keyCode = (event.keyCode ? event.keyCode : event.which);
                    if (keyCode == 13) {
                        $('#comment-button').trigger('click');
                        test();
                    }
                });




    </script>


}
