@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Details";

    int TaskLength = 0;
    string TaskIdString = "";
}
@model ProjectFollower.Models.ViewModels.ProjectDetailVM
@using static ProjectFollower.Utility.ProjectConstant
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="mb-2">
                    <h1>@Model.Project.Name</h1>
                    <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                        <ol class="breadcrumb pt-0">
                            <li class="breadcrumb-item">
                                <a asp-action="Dashboard" asp-controller="Home">Projeler</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <a>@Model.Project.Name</a>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="separator mb-5"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12 col-xl-8 col-left">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs " role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab"
                                   aria-controls="first" aria-selected="true">Proje Görevleri</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="second-tab" data-toggle="tab" href="#second" role="tab"
                                   aria-controls="second" aria-selected="false">Dosyalar(@Model.ProjectDocuments.Count())</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="third-tab" data-toggle="tab" href="#third" role="tab"
                                   aria-controls="third" aria-selected="false">Proje Açıklama</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="first" role="tabpanel"
                                 aria-labelledby="first-tab">

                                <p class="font-weight-bold">Görevler</p>
                                @*<form action="/proje-detaylari/gorev-degistir/@Model.Project.Id" method="get">*@
                                <form id="sectionTasks">
                                    @foreach (var item in Model.ProjectTasks)
                                    {
                                        TaskLength++;
                                        TaskIdString = "control-mission" + TaskLength.ToString();

                                        <div class="row">
                                            <div class="col-10">
                                                @if (item.Done)
                                                {
                                                    <p class="mission-completed">@item.Description</p>
                                                }
                                                else
                                                {
                                                    <p>@item.Description</p>
                                                }

                                            </div>
                                            <div class="col-2 text-end">
                                                <div class="custom-control custom-checkbox">
                                                    @*<input value="@item.Done.ToString()" id="@item.Id" type="text" class="taskvalue" />*@
                                                    <input type="checkbox" class="custom-control-input taskvalue" id="@item.Id" checked="@item.Done">
                                                    <label class="custom-control-label" for="@item.Id">Tamamlanmadı</label>
                                                </div>
                                            </div>
                                        </div>

                                    }


                                    @*
                                        <div class="row">
                                        <div class="col-10">
                                        <p class="mission-completed">Pellentesque quis cursus mauris.</p>
                                        </div>
                                        <div class="col-2 text-end">
                                        <div class="custom-control custom-checkbox">
                                        <input type="checkbox" disabled checked class="custom-control-input" id="control-mission1" name="control-mission1">
                                        <label class="custom-control-label" disabled for="control-mission1">Tamamlandı</label>
                                        </div>
                                        </div>
                                        </div>
                                        <div class="row">
                                        <div class="col-10">
                                        <p>Pellentesque quis cursus mauris.</p>
                                        </div>
                                        <div class="col-2 text-end">
                                        <div class="custom-control custom-checkbox">
                                        <input type="checkbox" disabled class="custom-control-input" id="control-mission2" name="control-mission2">
                                        <label class="custom-control-label" disabled for="control-mission2">Tamamlanmadı</label>
                                        </div>
                                        </div>
                                        </div>
                                        <div class="row">
                                        <div class="col-10">
                                        <p>Pellentesque quis cursus mauris.</p>
                                        </div>
                                        <div class="col-2 text-end">
                                        <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="control-mission3" name="control-mission3">
                                        <label class="custom-control-label" for="control-mission3">Tamamlanmadı</label>
                                        </div>
                                        </div>
                                        </div>
                                        <div class="row mb-4">
                                        <div class="col-10">
                                        <p>Pellentesque quis cursus mauris.</p>
                                        </div>
                                        <div class="col-2 text-end">
                                        <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="control-mission4" name="control-mission4">
                                        <label class="custom-control-label" for="control-mission4">Tamamlanmadı</label>
                                        </div>
                                        </div>
                                        </div>
                                    *@
                                    <div class="row mb-4">
                                        <div class="col-12 text-right">
                                            <button type="button" class="btn btn-primary btn-sm mb-0" id="taskbtn">Görevleri Düzenlemeyi Kaydet</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="separator mb-5"></div>

                                <p class="font-weight-bold">Yorumlar</p>

                                <div class="d-flex flex-row mb-3 border-bottom justify-content-between">
                                    <a href="#">
                                        <img src="img/profiles/l-7.jpg" alt="Mimi Carreira"
                                             class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                                    </a>
                                    <div class="pl-3 flex-grow-1">
                                        <a href="#">
                                            <p class="font-weight-medium mb-0">Mimi Carreira</p>
                                            <p class="text-muted mb-0 text-small">Two Days Ago</p>
                                        </a>
                                        <p class="mt-3">
                                            Pellentesque quis cursus mauris.
                                        </p>
                                    </div>
                                </div>

                                <div class="d-flex flex-row mb-3 border-bottom justify-content-between">
                                    <a href="#">
                                        <img src="img/profiles/l-3.jpg" alt="Kathryn Mengel"
                                             class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                                    </a>
                                    <div class="pl-3 flex-grow-1">
                                        <a href="#">
                                            <p class="font-weight-medium mb-0">Kathryn Mengel</p>
                                            <p class="text-muted mb-0 text-small">Two Days Ago</p>
                                        </a>
                                        <p class="mt-3">
                                            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                                            cubilia Curae; Pellentesque quis cursus mauris. Nam in ornare erat.
                                            Vestibulum convallis enim ac massa dapibus consectetur. Maecenas
                                            facilisis eros ac felis mattis, eget auctor sapien varius.
                                        </p>
                                    </div>
                                </div>

                                <div class="d-flex flex-row mb-3 border-bottom justify-content-between">
                                    <a href="#">
                                        <img src="img/profiles/l-4.jpg" alt="Philip Nelms"
                                             class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                                    </a>
                                    <div class="pl-3 flex-grow-1">
                                        <a href="#">
                                            <p class="font-weight-medium mb-0">Philip Nelms</p>
                                            <p class="text-muted mb-0 text-small">Two Days Ago</p>
                                        </a>
                                        <p class="mt-3">
                                            Quisque consectetur lectus eros, sed sodales libero ornare cursus. Etiam
                                            elementum ut dolor eget hendrerit. Suspendisse eu lacus eu eros lacinia
                                            feugiat sit amet non purus.
                                        </p>
                                    </div>
                                </div>
                                <div class="comment-contaiener">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Yorum Ekle">
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary" type="button">
                                                <span class="d-inline-block">Paylaş</span> <i class="simple-icon-arrow-right ml-2"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">
                                @{
                                    if (Model.ProjectDocuments.Count() > 0)
                                    {
                                        foreach (var item in Model.ProjectDocuments)
                                        {
                                            string link = LocFilePaths.DIR_Projects_Doc + item.Projects.Name + "/" + item.FileName;
                                            <div class="d-flex flex-row mb-3 border-bottom">
                                                <div class="p-0 position-relative tab-icon">
                                                    <div class="preview-container">
                                                        <img data-dz-thumbnail="" class="img-thumbnail border-0">
                                                        <i class="simple-icon-doc preview-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="pl-3 w-80 dz-details position-relative">
                                                    <div>
                                                        <span data-dz-name="">@item.FileName</span>
                                                    </div>
                                                    <div class="text-primary text-extra-small" data-dz-size="">
                                                        <strong>0</strong> KB
                                                    </div>
                                                </div>
                                                <a href="@link" class="download-icon" data-dz-remove="" download>
                                                    <i class="glyph-icon simple-icon-cloud-download"></i>
                                                </a>
                                                <a href="/proje-detaylari/dokuman-kaldir/@item.Id" class="download-icon ml-4" data-dz-remove="">
                                                    <i class="glyph-icon simple-icon-trash"></i>
                                                </a>
                                            </div>
                                        }

                                    }
                                    else
                                    {
                                        <h4>Henüz projeye ait bir dosya yüklenmemiş..</h4>
                                    }
                                }
                                @*
                                    <div class="d-flex flex-row mb-3 border-bottom">
                                        <div class="p-0 position-relative tab-icon">
                                            <div class="preview-container">
                                                <img data-dz-thumbnail="" class="img-thumbnail border-0">
                                                <i class="simple-icon-doc preview-icon"></i>
                                            </div>
                                        </div>
                                        <div class="pl-3 w-80 dz-details position-relative">
                                            <div>
                                                <span data-dz-name="">baktek.docx</span>
                                            </div>
                                            <div class="text-primary text-extra-small" data-dz-size="">
                                                <strong>16.4</strong> KB
                                            </div>
                                        </div>
                                        <a href="#/" class="download-icon" data-dz-remove="">
                                            <i class="glyph-icon simple-icon-cloud-download"></i>
                                        </a>
                                        <a href="#/" class="download-icon ml-4" data-dz-remove="">
                                            <i class="glyph-icon simple-icon-trash"></i>
                                        </a>
                                    </div>
                                    <div class="d-flex flex-row mb-3 border-bottom">
                                        <div class="p-0 position-relative tab-icon">
                                            <div class="preview-container">
                                                <img data-dz-thumbnail="" class="img-thumbnail border-0">
                                                <i class="simple-icon-doc preview-icon"></i>
                                            </div>
                                        </div>
                                        <div class="pl-3 w-80 dz-details position-relative">
                                            <div>
                                                <span data-dz-name="">baktek.docx</span>
                                            </div>
                                            <div class="text-primary text-extra-small" data-dz-size="">
                                                <strong>16.4</strong> KB
                                            </div>
                                        </div>
                                        <a href="#/" class="download-icon" data-dz-remove="">
                                            <i class="glyph-icon simple-icon-cloud-download"></i>
                                        </a>
                                        <a href="#/" class="download-icon ml-4" data-dz-remove="">
                                            <i class="glyph-icon simple-icon-trash"></i>
                                        </a>
                                    </div>
                                    <div class="d-flex flex-row mb-3 border-bottom">
                                        <div class="p-0 position-relative tab-icon">
                                            <div class="preview-container">
                                                <img data-dz-thumbnail="" class="img-thumbnail border-0">
                                                <i class="simple-icon-doc preview-icon"></i>
                                            </div>
                                        </div>
                                        <div class="pl-3 w-80 dz-details position-relative">
                                            <div>
                                                <span data-dz-name="">baktek.docx</span>
                                            </div>
                                            <div class="text-primary text-extra-small" data-dz-size="">
                                                <strong>16.4</strong> KB
                                            </div>
                                        </div>
                                        <a href="#/" class="download-icon" data-dz-remove="">
                                            <i class="glyph-icon simple-icon-cloud-download"></i>
                                        </a>
                                        <a href="#/" class="download-icon ml-4" data-dz-remove="">
                                            <i class="glyph-icon simple-icon-trash"></i>
                                        </a>
                                    </div>


                                                            <div class="d-flex flex-row mb-3 border-bottom">
                                                                <div class="p-0 position-relative tab-icon">
                                                                    <div class="preview-container">
                                                                        <img data-dz-thumbnail="" class="img-thumbnail border-0">
                                                                        <i class="simple-icon-doc preview-icon"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="pl-3 w-80 dz-details position-relative">
                                                                    <div>
                                                                        <span data-dz-name="">baktek.docx</span>
                                                                    </div>
                                                                    <div class="text-primary text-extra-small" data-dz-size="">
                                                                        <strong>16.4</strong> KB
                                                                    </div>
                                                                </div>
                                                                <a href="#/" class="download-icon" data-dz-remove="">
                                                                    <i class="glyph-icon simple-icon-cloud-download"></i>
                                                                </a>
                                                                <a href="#/" class="download-icon ml-4" data-dz-remove="">
                                                                    <i class="glyph-icon simple-icon-trash"></i>
                                                                </a>
                                                            </div>
                                                            <div class="d-flex flex-row mb-3 border-bottom">
                                                                <div class="p-0 position-relative tab-icon">
                                                                    <div class="preview-container">
                                                                        <img data-dz-thumbnail="" class="img-thumbnail border-0">
                                                                        <i class="simple-icon-doc preview-icon"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="pl-3 w-80 dz-details position-relative">
                                                                    <div>
                                                                        <span data-dz-name="">baktek.docx</span>
                                                                    </div>
                                                                    <div class="text-primary text-extra-small" data-dz-size="">
                                                                        <strong>16.4</strong> KB
                                                                    </div>
                                                                </div>
                                                                <a href="#/" class="download-icon" data-dz-remove="">
                                                                    <i class="glyph-icon simple-icon-cloud-download"></i>
                                                                </a>
                                                                <a href="#/" class="download-icon ml-4" data-dz-remove="">
                                                                    <i class="glyph-icon simple-icon-trash"></i>
                                                                </a>
                                                            </div>




                                *@
                                <form asp-action="UpdateDocuments" asp-controller="Home" method="post" enctype="multipart/form-data" data-pasley-validate>
                                    <input type="text" asp-for="Project.Id" value="@Model.Project.Id" hidden />
                                    <div class="d-flex flex-row mb-3">
                                        <div class="col-12">
                                            <div class="input-group mb-3 file-avatar">
                                                <label class="custom-select custom-select-label file-new-uploads-text" for="file-upload" style="height:auto; line-height:inherit;"></label>
                                                <input type="file" class="d-none file-new-uploads" name="file-upload" id="file-upload" multiple>
                                                <div class="input-group-append">
                                                    <label class="input-group-text" for="file-upload" value="Fotoğraf Yükle">Dosya Yükle</label>
                                                </div>
                                            </div>
                                            <div class="text-zero top-right-button-container">
                                                <button type="submit" class="btn btn-primary top-right-button mr-1">YENİ DOSYA EKLE</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <div class="tab-pane fade" id="third" role="tabpanel" aria-labelledby="third-tab">
                                <div class="row">
                                    <div class="col-8">
                                        <p class="font-weight-bold">Proje Açıklaması</p>
                                    </div>
                                    <div class="col-4 text-right">
                                        <button data-toggle="modal" data-target="#project-details" class="btn btn-primary btn-sm mb-0">Düzenle</button>
                                    </div>
                                </div>
                                <div id="desc">@Html.Raw(Model.Project.Description)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-xl-4 col-right">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8 p-0 m-0 d-flex justify-content-center align-items-center">
                                <h1 class="p-0 m-0">Poligon Mühendislik</h1>
                            </div>
                            <div class="col-4">
                                <img src="/img/orj/firmalar/poligon.jpg" alt="Fat Rascal" class="list-thumbnail responsive border-0 card-img-left ml-2" />
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6 p-0 m-0 text-center">
                                <p class="text-muted text-small mb-2">Proje Statüsü</p>
                                <p class="mb-3">
                                    @if (Model.Project.Status == 0)
                                    {
                                        <span class="badge badge-pill badge-info mb-1">YENİ</span>
                                    }
                                    @if (Model.Project.Status == 1)
                                    {
                                        <span class="badge badge-pill badge-warning mb-1">YAPIM AŞAMASINDA</span>
                                    }
                                    @if (Model.Project.Status == 2)
                                    {
                                        <span class="badge badge-pill badge-secondary mb-1">YAPIM AŞAMASINDA</span>
                                    }
                                    @if (Model.Project.Status == 3)
                                    {
                                        <span class="badge badge-pill badge-primary mb-1">YAPIM AŞAMASINDA</span>
                                    }
                                    @*<span class="badge badge-pill badge-warning mb-1">YAPIM AŞAMASINDA</span>*@
                                </p>
                            </div>
                            <div class="col-3 p-0 m-0  text-center">
                                <p class="text-muted text-small mb-2">Proje Başlangıç</p>
                                <p class="mb-3">
                                    <span class="badge badge-pill badge-info mb-1">@Model.Project.CreationDate</span>
                                </p>
                            </div>
                            <div class="col-3 p-0 m-0  text-center">
                                <p class="text-muted text-small mb-2">Proje Deadline</p>
                                <p class="mb-3">
                                    <span class="badge badge-pill badge-danger mb-1">@Model.Project.EndingDate</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body text-center pt-5 pb-5">
                        <img alt="thumb" class="img-thumbnail border-0 rounded-circle mb-4 list-thumbnail mx-auto" src="img/profiles/l-7.jpg">
                        <img alt="thumb" class="img-thumbnail border-0 rounded-circle mb-4 list-thumbnail mx-auto" src="img/orj/users/egul.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Modal Proje Detay Değiştir -->
<div class="modal fade" id="project-details" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="project-detailsLabel">@Model.Project.Customers.Name - @Model.Project.Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group">
                            <div id="quillEditor" style="min-height: 10rem; width: 100%">
                                <div class="ql-editor">@Html.Raw(Model.Project.Description)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">
                        Kapat
                    </button>
                    <button type="button" class="btn btn-primary" id="submitDesc">Değişiklikleri Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
@*
    <form asp-action="UpdateDesc" asp-controller="Home" method="post" id="descDetail">
        <input type="text" id="htmlstr" class="form-control form-text" asp-for="@Model.Project.Description" />
        <input type="text" id="projectid" class="form-control form-text" asp-for="@Model.Project.Id" />
    </form>*@


@section scripts
{
    <script src="/js/vendor/quill.min.js"></script>

    <script>
        $(document).ready(function () {

            @*window.history.pushState("", "", "/proje-detaylari/" +@Model.Project.Id);*@
            @*history.pushState("", "", "/proje-detaylari/" +@Model.Project.Id);*@
            $(document).on("click", "#submitDesc", function () {
                console.log("submitdesc Action");

                var htmlString = $('.ql-editor').html();
                console.log("submitdesc Action 2");
                $('#htmlstr').val(htmlString);
                console.log("submitdesc Action 3");
                //$('#descDetail').submit();

                $.ajax({
                    type: "POST",
                    url: "/jsonresult/updatedescription",
                    data: {
                        project: {
                            id: '@Model.Project.Id',
                            description: $('.ql-editor').html()
                        }
                    },
                    success: function (received) {
                        console.log(received);
                        $('#desc').html("");
                        $('#desc').append(received);
                        $('#project-details').modal('toggle');

                        Swal.fire({
                            title: "Güncelleme başarılı.",
                            showCancelButton: false,
                            icon: "success",
                            confirmButtonText: 'Tamam',
                        })


                    }
                });

            });


            $(document).on("click", "#taskbtn", function () {
                var ids = $('.taskvalue').map(function () {
                    
                    return JSON.stringify(JSON.parse({
                        id: this.id,
                        done: this.checked
                    }));
                    /*
                    return {
                        id: this.id,
                        done: this.checked
                    };*/
                }).get().join();

                console.log("Status:" + '@Model.Project.Id');
                console.log("İD ler:" + ids);  // Result: a,b,c,d

                $.ajax({
                    type: "POST",
                    dataType: 'json',
                    url: "/jsonresult/updateTasks",
                    data: {
                        projectId: '@Model.Project.Id',
                    },
                    success: function (received) {

                        /*
                        Swal.fire({
                            title: "Güncelleme başarılı.",
                            showCancelButton: false,
                            icon: "success",
                            confirmButtonText: 'Tamam',
                        });*/


                    }
                });
                
            });



            //var obj = {id:"",val:""};


        });
    </script>


}
