@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model ProjectFollower.Models.ViewModels.ProjectVM
<main>
    <div class="container-fluid project-creator">
        <div class="row">
            <div class="col-12">

                <h1>Proje Oluştur</h1>
                <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                    <ol class="breadcrumb pt-0">
                        <li class="breadcrumb-item">
                            <a href="#">Projeler</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="#">Yeni Proje</a>
                        </li>
                    </ol>
                </nav>
                <div class="separator mb-5"></div>
            </div>
        </div>

        <form method="post" id="project" enctype="multipart/form-data" data-pasley-validate>
            <div class="row">
                <div class="col-12 col-xl-8 mb-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="mb-4">Yeni Proje</h5>
                            <div>
                                <span asp-validation-for="Name" class="text-danger"></span>
                                <label class="form-group has-top-label">
                                    <input class="form-control" asp-for="Name" autocomplete="off" required />
                                    <span>Proje Adı</span>
                                </label>
                                <span asp-validation-for="CustomersId" class="text-danger"></span>
                                <label class="form-group has-top-label">
                                    <select class="form-control select-single" data-width="100%" id="customers" asp-for="CustomersId" required>
                                        <option value="" hidden>Hangi Firmaya ait proje açıyorsanız onu seçiniz.</option>
                                    </select>
                                    <span>Firma Adı</span>
                                </label>
                                <span asp-validation-for="EndingDate" class="text-danger"></span>
                                <label class="form-group has-top-label">
                                    <input class="form-control datepicker" placeholder="" asp-for="EndingDate" autocomplete="off" value="@DateTime.Now.Date.ToString("dd/MM/yyy")" required />
                                    <span>Öngörülen Bitiş Tarihi</span>
                                </label>

                                @*
                                    <label class="form-group has-top-label">
                                        <select class="form-control select2-multiple" multiple="multiple" data-width="100%">
                                            <optgroup label="Grafik Tasarım">
                                                <option value="AK">Ayşe</option>
                                                <option value="HI">Kubilay</option>
                                            </optgroup>
                                            <optgroup label="Sosyal Medya">
                                                <option value="CA">Niran</option>
                                                <option value="damla">Damla</option>
                                            </optgroup>
                                            <optgroup label="Video">
                                                <option value="cihangir">Cihangir</option>
                                            </optgroup>
                                            <optgroup label="Yazılım">
                                                <option value="emre">Emre</option>
                                                <option value="bugra">Buğra</option>
                                            </optgroup>
                                            <option value="TNOGZ" disabled="disabled">The Twilight Zone</option>
                                            <option value="TPZ">Herkes</option>
                                        </select>
                                        <span>Proje Üyeleri</span>
                                    </label>
                                *@
                                <span asp-validation-for="UserId" class="text-danger"></span>
                                <label class="form-group has-top-label">
                                    <select class="form-control select2-multiple" multiple="multiple" data-width="100%" asp-for="UserId" required>
                                        @foreach (var item in Model.DepartmentsVMs)
                                        {
                                            <optgroup label="@item.Name">
                                                @foreach (var itemUser in item.ApplicationUser)
                                                {
                                                    <option value="@itemUser.Id">@itemUser.FirstName</option>
                                                }

                                            </optgroup>
                                        }
                                    </select>

                                    <span>Proje Üyeleri</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-4 mb-4 ">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="mb-4">Takvim</h5>
                            <div class="form-group">
                                <div class="date-inline">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Proje Görevleri</h5>
                            <label class="form-group has-top-label">
                                <input class="form-control" id="mission-textbox" style="display: inline-block;" id="mission-textbox">
                                <span>Görev Tanımı</span>
                            </label>
                            <button type="button" class="btn btn-outline-secondary mb-1 taskAct" id="mission-add">Görev Ekle</button>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <table class="data-table-standard responsive nowrap"
                                   data-order="[[ 1, &quot;desc&quot; ]]">
                                <thead>
                                    <tr>
                                        <th>Görev Tanımı</th>
                                        <th class="d-none"></th>
                                    </tr>
                                </thead>
                                <tbody id="mission-list">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-body ">
                            <h5 class="mb-4">Proje Açıklaması</h5>
                            <div id="quillEditor" style="min-height: 10rem;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-body ">
                            <h5 class="mb-4">Proje Dosyaları</h5>
                            @*
                                <form action="/file-upload">
                                    <div class="dropzone">
                                    </div>
                                </form>
                            *@

                            <div class="input-group mb-3 file-avatar">
                                <label class="custom-select custom-select-label file-new-uploads-text" for="file-upload" style="height:auto; line-height:inherit;"></label>
                                <input type="file" class="d-none file-new-uploads" name="file-upload" id="file-upload" multiple>
                                <div class="input-group-append">
                                    <label class="input-group-text" for="file-upload" value="Fotoğraf Yükle">Dosya Yükle</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row-reverse">
                <a href=""><button class="btn btn-danger btn-lg"><i class="iconsminds-close"></i>İptal Et</button></a>
                <button class="btn btn-primary btn-lg mr-3" id="submitForm"><i class="iconsminds-add"></i> Proje Oluştur</button>

                <div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show rounded mb-2 mt-2" role="alert">

                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

            </div>

            <input type="text" id="htmlstr" class="form-control form-text d-none" asp-for="@Model.Description" />
            <select class="form-control select2-multiple d-none" multiple="multiple" data-width="100%" id="taskDescription" asp-for="TaskDesc" hidden>
            </select>
        </form>
    </div>
</main>


@section scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="/js/vendor/quill.min.js"></script>
    <script src="/js/vendor/datatables.min.js"></script>

    <script>

        $(document).ready(function () {
            $.ajax({
                url: "/jsonresult/getallcustomers",
                type: "GET",
                contentType: "application/json",
                dataType: "json",
                success: function (data) {

                    $.each(data, function (i, item) {
                        console.log(item.name);
                        $('#customers').append($('<option>', {
                            value: item.id,
                            text: item.name
                        }));
                    });
                }
            });
            /*
            $('#departments').select2({
                ajax: {
                    url: '/jsonresult/getalluserswithdep',
                    data: function (params) {
                        var query = {
                            search: params.term,
                            type: 'public'
                        }
                        console.log(query);
                        // Query parameters will be ?search=[term]&type=public
                        return query;
                    }
                }
            });
            */
            $(document).on("click", ".taskAct", function () {

            });


            $(document).on("click", "#submitForm", function () {
                $('#taskDescription').html('');

                var htmlString = $('.ql-editor').html();
                $('#htmlstr').val(htmlString);
                $('.list-item-heading').each(function () {
                    /*var taskAct = $(".list-item-heading").html();*/
                    var taskAct = $(this).html();
                    console.log(taskAct);
                    $('#taskDescription').append($('<option>', {
                        value: taskAct,
                        text: taskAct
                    }).attr('selected', true));
                });


                $('#project').submit();
            });




        });
                /*
$("#submitForm").trigger("click");*/


    </script>

}

